<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/generic.ejs')%>
        <link rel="stylesheet" href="/css/HomeScreen.css">
</head>

<body>
    <%- include('partials/topNavBar.ejs')%>


        <!-- iphone 16 -->
        <div id="iphone16">
            <h1 class="slide-top">iPhone 20 Pro</h1>
            <h2 id="iphone16description" class="slide-top">so Light, so Powerful, so Pro</h2>
            <button id="learnmore" class="deatilsBtn slide-top">Learn More</button>
        </div>

        <section id="ipadMini">
            <div id="ipadMiniDeatils">
                <h2 id="ProductName">iPad Mini</h2>
                <p id="ProductDescription">Coming this summer.</p>
                <button id="iPadBuyButton">Learn More</button>
            </div>
            <img src="/pictures/homeScreen/ipadMini.png" alt="">
        </section>

        <section id="productCards">
            <!-- http://localhost:300/items/670111f5d3ffc4ac684695b8 -->
            <% let productName="AirPods Pro" %>
                <% let productDescription="Hello, H2 Chip." %>
                    <% let backgroundImage="/pictures/homeScreen/AirPodsProDisplay.jpg" %>
                        <% let itemID="670111f5d3ffc4ac684695b8" %>

                            <%- include('partials/productDisplayCard.ejs', {productName: productName
                                ,productDescription:productDescription,backgroundImage:backgroundImage,itemID:itemID})%>

                                <% productName="AirPods 3" %>
                                    <% productDescription="Available with Active Noise Canecllation." %>
                                        <% backgroundImage="/pictures/homeScreen/AirPods3Display.jpg" %>
                                            <% itemID="670111f5d3ffc4ac684695ba" %>

                                                <%- include('partials/productDisplayCard.ejs', {productName: productName
                                                    ,productDescription:productDescription,backgroundImage:backgroundImage,itemID:itemID})%>

        </section>



        <%- include('partials/bottomNavBar.ejs')%>
            <script>


                document.querySelector('#learnmore').addEventListener('click', () => {
                    window.location.href = '/items/670111f5d3ffc4ac684695be';
                })

                document.querySelector('#iPadBuyButton').addEventListener('click', () => {
                    window.location.href = '/iPad';
                })

                function addSlideLeftClass() {
                    const img = document.querySelector('#ipadMini img');

                    const observer = new IntersectionObserver((entries) => {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                entry.target.classList.add('slide-left');
                                observer.unobserve(entry.target);
                            }
                        });
                    }, {
                        threshold: 0.01
                    });

                    observer.observe(img);
                }
                document.addEventListener('DOMContentLoaded', addSlideLeftClass);


                function addSlideRightClass() {
                    const div = document.querySelector('#ipadMiniDeatils');

                    const observer = new IntersectionObserver((entries) => {
                        entries.forEach(entry => {
                            if (entry.isIntersecting) {
                                entry.target.classList.add('slide-right');
                                observer.unobserve(entry.target);
                            }
                        });
                    }, {
                        threshold: 0.01
                    });

                    observer.observe(div);
                }
                document.addEventListener('DOMContentLoaded', addSlideRightClass);

            </script>
</body>

</html>